<article class="game" id="uk">
  <h1 class="game-title">Enter a number from 1 to 100</h1>
  <div class="game-container">
    <form for="input" class="search-form">
      <input type="number" id="input" class="input" />
      <button type="button" id="button" class="btn">Go</button>
    </form>
    <p class="current-point">
      Current point : <span class="current-point-text">0</span>
    </p>
    <p class="result">Last result : <span class="result-text">0</span></p>
    <p class="game-message" id="game-message"></p>
  </div>
</article>
